<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Two Pairs Game</title>
    <link
      rel="stylesheet"
      href="/public/styles.css"
    />
    <script
      src="/script.js"
      defer
    ></script>
    <link
      rel="icon"
      type="image/png"
      href="/images/cards.png"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <h1>Two Pair's Game</h1>
      <h3>Click any cards to begin!</h3>
      <p><span id="seconds">00</span>:<span id="tenths">00</span></p>
      <p id="text"></p>
      <div id="container">
        <div
          data-item="git"
          data-view="card"
        ></div>
        <div
          data-item="html"
          data-view="card"
        ></div>
        <div
          data-item="python"
          data-view="card"
        ></div>
        <div
          data-item="javascript"
          data-view="card"
        ></div>
        <div
          data-item="css"
          data-view="card"
        ></div>
        <div
          data-item="java"
          data-view="card"
        ></div>
        <div
          data-item="php"
          data-view="card"
        ></div>
        <div
          data-item="react"
          data-view="card"
        ></div>
        <div
          data-item="go"
          data-view="card"
        ></div>
        <div
          data-item="csharp"
          data-view="card"
        ></div>
        <div
          data-item="python"
          data-view="card"
        ></div>
        <div
          data-item="react"
          data-view="card"
        ></div>
        <div
          data-item="git"
          data-view="card"
        ></div>
        <div
          data-item="javascript"
          data-view="card"
        ></div>
        <div
          data-item="html"
          data-view="card"
        ></div>
        <div
          data-item="css"
          data-view="card"
        ></div>
        <div
          data-item="csharp"
          data-view="card"
        ></div>
        <div
          data-item="php"
          data-view="card"
        ></div>
        <div
          data-item="java"
          data-view="card"
        ></div>
        <div
          data-item="go"
          data-view="card"
        ></div>
      </div>
    </div>
    <br />
    <button id="reset-btn">Restart Game</button>
  </body>
</html>
