<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Two Pairs Game</title>
    <link
      rel="stylesheet"
      href="/public/styles.css"
    />
    <script
      src="/script.js"
      defer
    ></script>
    <link
      rel="icon"
      type="image/png"
      href="/images/cards.png"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <h1>Two Pair's Game</h1>

      <div class="difficulty-container">
        <button
          class="diff-btn"
          data-limit="6"
        >
          Easy (12)
        </button>
        <button
          class="diff-btn"
          data-limit="10"
        >
          Middle (20)
        </button>
        <button
          class="diff-btn"
          data-limit="15"
        >
          Hard (30)
        </button>
      </div>
      <h3>Click any cards to begin!</h3>
      <p><span id="seconds">00</span>:<span id="tenths">00</span></p>

      <div id="container"></div>
    </div>

    <br />
    <button id="reset-btn">Restart Game</button>
    <div
      class="modal"
      id="nameModal"
    >
      <div class="modal-content">
        <h2>New Highscore!</h2>
        <p>Time: <span id="finalTime"></span></p>
        <input
          type="text"
          id="playerName"
          placeholder="Write your nickname..."
          maxlength="15"
        />
        <button id="saveScoreBtn">Save Highscore</button>
      </div>
    </div>
  </body>
</html>
