:root {
  --orangeColor: #ffbb00;
  --greenColor: #6cd72e;
  --blueColor: #a29bfe;
  --greyColor: #7f8c8d;
  --whiteColor: #ffffff;

  --cardBackBaseColor: #b65595;
  --baseColor: var(--blueColor);
}

body {
  background: var(--baseColor);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

h1,
h2 {
  font-family: "Rubik Iso", system-ui;
  font-weight: 400;
  font-size: 2.6em;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  font-style: normal;
  text-transform: uppercase;
}

#seconds,
#tenths {
  font-size: 2em;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 630px;
  margin: 10px auto;
}

#container::after {
  content: "";
  display: table;
  clear: both;
}

[data-view="card"] {
  width: 100px;
  height: 140px;
  border: 1px solid var(--whiteColor);
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  background-color: var(--cardBackBaseColor);
  backface-visibility: hidden;
  background: linear-gradient(
    135deg,
    var(--cardBackBaseColor) 22px,
    rgba(255, 255, 255, 0.1) 22px,
    rgba(255, 255, 255, 0.1) 24px,
    var(--cardBackBaseColor) 24px,
    var(--cardBackBaseColor) 67px,
    rgba(255, 255, 255, 0.1) 67px,
    rgba(255, 255, 255, 0.1) 69px,
    var(--cardBackBaseColor) 69px
  );
  background-size: 64px 128px;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.3s ease;
}

.flipped,
.correct {
  transform: rotateY(180deg);
  background-image: none;
  background-color: var(--whiteColor) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-item].flipped::after,
[data-item].correct::after {
  content: "";
  width: 80%;
  height: 80%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

[data-item="git"].flipped::after,
[data-item="git"].correct::after {
  background-image: url("/images/logo/git-icon.svg") !important;
  background-size: cover;
}
[data-item="html"].flipped::after,
[data-item="html"].correct::after {
  background-image: url("/images/logo/html-5-icon.svg") !important;
  background-size: cover;
}
[data-item="python"].flipped::after,
[data-item="python"].correct::after {
  background-image: url("/images/logo/python-icon.svg") !important;
  background-size: cover;
}
[data-item="javascript"].flipped::after,
[data-item="javascript"].correct::after {
  background-image: url("/images/logo/javascript-icon.svg") !important;
  background-size: cover;
}
[data-item="css"].flipped::after,
[data-item="css"].correct::after {
  background-image: url("/images/logo/css-3-icon.svg") !important;
  background-size: cover;
}
[data-item="java"].flipped::after,
[data-item="java"].correct::after {
  background-image: url("/images/logo/java-4-icon.svg") !important;
  background-size: cover;
}
[data-item="php"].flipped::after,
[data-item="php"].correct::after {
  background-image: url("/images/logo/php-icon.svg") !important;
  background-size: cover;
}
[data-item="react"].flipped::after,
[data-item="react"].correct::after {
  background-image: url("/images/logo/react-icon.svg") !important;
  background-size: cover;
}
[data-item="go"].flipped::after,
[data-item="go"].correct::after {
  background-image: url("/images/logo/go-icon.svg") !important;
  background-size: cover;
}
[data-item="csharp"].flipped::after,
[data-item="csharp"].correct::after {
  background-image: url("/images/logo/csharp-icon.svg") !important;
  background-size: cover;
}

.correct {
  opacity: 0.35;
  transition: opacity 0.5s ease;
  cursor: default;
  pointer-events: none;
  background-size: contain;
}

#reset-btn {
  background-color: var(--whiteColor);
  color: var(--baseColor);
  border: 2px solid var(--whiteColor);
  border-radius: 5px;
  box-shadow:
    black 0px 4px 6px -1px,
    black 0px 2px 4px -1px;
  padding: 10px 20px;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

#reset-btn:hover {
  background-color: var(--baseColor);
  color: var(--whiteColor);
}
