:root {
  --orangeColor: #ffbb00;
  --greenColor: #6cd72e;
  --blueColor: #8c82e5;
  --greyColor: #acacac;
  --whiteColor: #ffffff;
  --baseColor: var(--blueColor);
}

@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@mixin corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -khtml-border-radius: $radius;
}

body {
  background: var(--baseColor);
  font-family:
    HelveticaNeue-light,
    Helvetica Neue Light,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  height: 100%;
  color: var(--whiteColor);
  text-align: center;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  text-transform: uppercase;
}

#seconds,
#tenths {
  font-size: 2em;
}

button {
  @include corners(5px);
  background: var(--baseColor);
  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;

  &:hover {
    @include transition;
    background: var(--whiteColor);
    border: 1px solid var(--whiteColor);
    color: var(--baseColor);
  }
}

#container {
  width: 630px;
  margin: 10px auto;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

[data-view="card"] {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  width: 100px;
  height: 140px;
  border: 1px solid #d3cece;
  border-radius: 5px;
  float: left;
  margin: 10px;
  cursor: pointer;
  background-color: var(--greyColor);
  background:
    linear-gradient(
      135deg,
      var(--greyColor) 22px,
      var(--whiteColor) 22px,
      var(--whiteColor) 24px,
      transparent 24px,
      transparent 67px,
      var(--whiteColor) 67px,
      var(--whiteColor) 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        var(--greyColor) 22px,
        var(--whiteColor) 22px,
        var(--whiteColor) 24px,
        transparent 24px,
        transparent 67px,
        var(--whiteColor) 67px,
        var(--whiteColor) 69px,
        transparent 69px
      )
      0 64px;
  background-color: var(--greyColor);
  background-size: 64px 128px;
}

.flipped {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
}

.correct {
  opacity: 0.5;
  cursor: default;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
}

[data-item="git"].flipped {
  background-image: url("/images/logo/git-icon.svg");
  background-size: cover;
}
[data-item="html"].flipped {
  background-image: url("/images/logo/html-5-icon.svg");
  background-size: cover;
}
[data-item="python"].flipped {
  background-image: url("/images/logo/python-icon.svg");
  background-size: cover;
}
[data-item="javascript"].flipped {
  background-image: url("/images/logo/javascript-icon.svg");
  background-size: cover;
}
[data-item="css"].flipped {
  background-image: url("/images/logo/css-3-icon.svg");
  background-size: cover;
}
[data-item="java"].flipped {
  background-image: url("/images/logo/java-icon.svg");
  background-size: cover;
}
[data-item="php"].flipped {
  background-image: url("/images/logo/php-icon.svg");
  background-size: cover;
}
[data-item="react"].flipped {
  background-image: url("/images/logo/react-icon.svg");
  background-size: cover;
}
[data-item="go"].flipped {
  background-image: url("/images/logo/go-icon.svg");
  background-size: cover;
}
[data-item="csharp"].flipped {
  background-image: url("/images/logo/csharp-icon.svg");
  background-size: cover;
}

$cards: git, html, python, javascript, css, java, php, react, go, csharp;

@each $card in $cards {
  [data-card="#{$card}"] {
    background-image: url("../images/#{$card}.png");
    background-size: cover;
  }
}
